<!DOCTYPE html>
<html>
<body>

<a href = "/feed/">Feed</a>

<table>
	<tr>
		<td>
			<form action = "/people/" method = "post">
                {% csrf_token %}
				<input name = "search" />
				<input type = "submit" value = "search" />
			</form>
		</td>
	</tr>
</table>

<ul>
	{% for user, tag in people %}
		<li>
            <table>

                {% if tag  %}
                     <tr>{{user}} &#10004</tr>

                {% else %}
                    <tr>{{user}} <form action = "/users/{{ user.id }}/follow/" method = "post">
                        {% csrf_token %}

                        <input type = "submit" value = "+" />
                    </form></tr>

                {% endif %}

            </table>
		</li>		
	{% endfor %}
</ul>


</body>
</html>